body {
  background-color: #d3d3d3;
}

.jumbotron {
  background-color: #25928d;
  color: #dddddd;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#formOne {
  color: #25928d;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

select, input {
  background-color: #25928d;
  color: #dddddd;
}

button {
  background-color: #5988c5;
  color: #dddddd;
}

.formControl {
  display: block;
  margin-bottom: 20px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.result {
  display: none;
  margin-top: 30px;
  color: #5988c5;
  font-size: 30px;
  text-decoration: underline;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

img {
  width: 60%;
  height: auto;
  border: solid 4px #25928d;
}



p {
  text-align: center;
}